absl-py
amqp
anyio
argon2-cffi
argon2-cffi-bindings
asgiref
asttokens
astunparse
atomicwrites
attrs
Babel
backcall
billiard
black
bleach
cachetools
celery
certifi
cffi
cftime
chardet
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cloudpickle
# colab
colorama
cssselect
cycler
dask
debugpy
decorator
defusedxml
Deprecated
diazo
Django==4.0.3
django-crispy-forms==1.14.0
django-haystack==2.4.1
django-hitcounter==0.1.1
django-revproxy==0.10.0
django-taggit==0.22.2
entrypoint
etiquetando
executing
flatbuffers
fonttools
fsspec
future
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
html2text
idna
iniconfig
ipykernel
ipython
ipython-genutils
jedi
Jinja2
json5
jsonschema
jupyter-client
jupyter-core
jupyter-http-over-ws
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
keras
Keras-Preprocessing
kiwisolver
kombu
libclang
livereload
locket
lxml
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
mypy-extension
nbclassi
nbclien
nbconver
nbforma
nest-asynci
netCDF
noteboo
nump
oauthli
opt-einsu
packagin
panda
pandocfilter
pars
part
pathspe
pickleshar
Pillo
platformdirs
pluggy
portalocker
portpicker
prometheus-clien
prompt-toolki
protobu
pure-eva
p
pyasn
pyasn1-module
pycparse
Pygment
pyparsin
pyrsisten
pytes
python-dateuti
pyt
pywin32==303;platform_system == "Windows"
# pywinpty==1.1.6
PyYAM
pyzm
redi
repoze.lr
request
requests-oauthlib
rsa
scipy
Send2Trash
simplegeneric
six
sniffiosqlparse
stack-data
stemming
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-io-gcs-filesystem
termcolor
terminado
testpath
tf-estimator-nightly
toml
tomli
toolz
tornado
traitlets
typing_extensions
tzdata
urllib3
vine
wcwidth
webencodings
websocket-client
Werkzeug
Whoosh
wrapt
xarray
